<div class="container">
  <h1>Coach's answer</h1>
  <p><strong>What you said :</strong><em> <%= @question %></em></p>
  <p><%= @answer %></p>
  <p><%= link_to "Ask another question", ask_path %></p>
</div>
