<div class="container">
  <h1>What do you want to say to our coach ?</h1>
  <div class="formulaire">
    <form action="/answer">
      <input type="text" name="demand">
      <input type="submit" value="Ask!">
    </form>
  </div>
</div>
